body{
margin:0;
padding: 0;
}
div {
    margin: 0%;
}
a{text-decoration: none;
color: white;}
h1 {
    background-color: #1f2937;
    color: white;
   margin:0;
   padding: 20px;
   padding-left: 150px;
   padding-right: 150px;
   font-size: 15px;
   display: flex;
   align-items: flex-end;
   gap: 20px;
}

#header-logo{
    margin-right: auto;
    font-size: 24px;
}
.first-section{
    background-color: #1f2937;
    color: white;
    padding: 100px 150px 100px 150px;
    display: flex;
    align-items: center;
}
.first-section p{
    margin: 5px;
}

.intro-font{
    font-size: 45px;
    font-weight: bold;
}
.blank{
    width: 800px;
    height: 200px;
    text-align: center;
    background-color: gray;
}

.button{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-color: #3882f6;
    font-size: 14px;
    padding: 5px 30px;
    border-radius: 8px;
}
.second-section{
    display: flex;
    color: #1f2937;
    text-align: center;
    padding-top: 50px;
}
.second-section img{
    width: 150px;
    height:150px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}
h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.third-section{
    padding: 100px 150px 100px 150px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.quote{
    text-align: end;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
}
.fourth-section{
  margin: 100px 150px 100px 150px;
  padding: 50px;
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.fourth-section p{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}
.fourth-section div{
    margin: auto; 
}
.fourth-section .button{
    border: 2px solid white;
}
footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 40px;
}


